/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "New Standart", serif;
}

:root {
  --bg-color: #ffd800;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  user-select: none;
}

p {
  color: rgb(23, 23, 23);
}

/* TRANSITIONS */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  background-color: rgba(255, 255, 255, 0);
  justify-content: space-around;
  align-items: center;
  height: 9vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 1.56rem;
  display: flex;
}

.logo:hover {
  cursor: default;
}

.logo img{
  width: 100px;
  vertical-align: middle;
}

.logo p{
  align-self: center;
}
/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}


/* HEADER */

header {
  background-color: #262626;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 60px;
}

.nava-brading {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: yellow;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


/* dropdown menu language */

.dropdown-btn {
  background-color: #262626;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.7s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #262626;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  transition: opacity 0.5s;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: yellow;
  transition: 0.4s ease;
}

.dropdown-btn:focus + .dropdown-content{
  display: block;
}


/* PROFILE SECTION */

#profile {
  justify-content: center;
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  gap: 5rem;
  height: 90vh;
}

#profile :is(h2) {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#profile :is(h1) {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#profile :is(p) {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#profile img {
  width: calc(100%);
  height: auto;
  border-radius: 10rem;
}

.section__text svg{
  bottom: 0;
  left: 0;
}
.section__text h1{
  color: #ffffff;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text h2{
  color: rgb(92, 201, 92);
  font-size: 35px;
  font-weight: 100;
}

.section__text p {
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  text-align: center;
}

.about-containers {
  gap: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-containers {
  margin-bottom: 2rem;
}

.about-containers {
  margin-top: 2rem;
}

.about-pic {
  border-radius: 2rem;
}
.details-container {
  padding: 2.5rem;
  flex: 1;
  background: white;
  border-radius: 1.5rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}


.section-container {
  justify-content: center;
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}


/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT SECTION */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact svg{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

.selected-lang{
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.selected-lang::before{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(https://flagsapi.com/GB/flat/32.png);
}

.lang-menu{
  margin-top: 0px;
}

.lang-menu ul{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #f2f2f2f2;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  height: 87px;
  display: none;
  position: absolute;
  border-radius: 10px;
}

.lang-menu ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a::before{
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.lang-menu ul li a{
  display: block;
  padding: 5px 10px;
  font-size: 20px;
}

.ua::before{
  background-image: url(https://flagsapi.com/UA/flat/32.png);
}

.en::before{
  background-image: url(https://flagsapi.com/GB/flat/32.png);
}

.lang-menu:hover ul{
  display: block;
}

#pro-nas{
  margin: 0;
  padding: 50px;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#pro-nas p::first-letter {
  font-size: 2rem;
  font-weight: 500;
}

#pro-nas .section__pic-container {
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#pro-nas .about-pic{
  -webkit-box-shadow: 6px 7px 19px 3px var(--bg-color);
  -moz-box-shadow: 6px 7px 19px 3px var(--bg-color);
  box-shadow: 6px 7px 19px 3px var(--bg-color);
  transition: .4s ease;
}

#pro-nas .about-pic:hover {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: .4s ease;
}

#pro-nas .title {
  margin-bottom: 30px;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

/* Примените анимацию к элементу при активации класса 'visible' */
.title.visible {
  opacity: 1;
  transform: translateY(0);
}

.text-container{
  align-self: center;
  vertical-align: middle;
  padding: 100px 20px;
  font-size: 17px;
}

.section__pic-container{
  padding: 0 20px;
  justify-content: center;
}


/* Station SECTION */

#station .section-container {
  padding-top: calc(50px);
}

#station .about-pic {
  padding-top: 0px;
}

#station  {
  display: flex;

}


/* about section */

#about {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

#about .section-container {
  padding-top: calc(50px);
}